.App {
  overflow-x: hidden;
  text-align: center;
  padding: 2rem 2rem;
  box-sizing: border-box;
  min-height: 100vh;
  height: max-content;
  width: 100%;

  --dot-bg: black;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
  padding: 1rem 1.5rem;
  width: 80%;
  background-color: antiquewhite;
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
}


.containers{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}